# Entorno virtual
.venv/
venv/

# Archivos de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos de configuración locales
*.env
*.ini
*.log

# Bases de datos temporales
*.db
*.sqlite3

# Archivos de VSCode
.vscode/
